extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") 미구현
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    if isAuthenticated
                        a.btn.btn-outline-light.me-2(href="/auth/logout") Logout
                    else
                        a.btn.btn-outline-light.me-2(href="/auth/login") Login
                        a.btn.btn-warning(href="/auth/register") Sign Up 
    div.main
        p
            //- put request 처리
            form(action="/update_process?_method=PUT", method="post")
                h3 글 수정
                input(type="hidden", name="id", value=data[0].writing_id)
                div.form-floating
                    //- textarea 내용 설정은 value로 하는게 아닌거도 잊고. 후...
                    textarea.form-control(id="title", name="title")= data[0].title
                    label(for="title") title
                br
                div.form-floating
                    textarea.form-control(id="description", name="description")= data[0].description
                    label(for="decription") description
                br
                div.form-floating
                    select.form-select(id="floatingSelect", name="selection", aria-label="Floating label select example")
                        each user, index in userlist
                            //- data[0] 줘야하는거 자꾸 잊고 에러내네 후...
                            if user.name === data[0].user_name
                                option(value=index+1 selected) #{user.name} 
                            else
                                option(value=index+1) #{user.name}
                    label(for="floatingSelect") user
                .button-container
                        button.btn.btn-outline-primary(type="submit") 작성