extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") 미구현
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    if isAuthenticated
                        a.btn.btn-outline-light.me-2(href="/auth/logout") Logout
                    else
                        a.btn.btn-outline-light.me-2(href="/auth/login") Login
                        a.btn.btn-warning(href="/auth/register") Sign Up 
    div.main
        p 
            div.col-md-8.position-relative
                h3.pb-4.mb-4.fst-italic.border-bottom
                article
                    //- sql 객체는 배열에 포장되어있음
                    h2= data[0].title
                    br
                    //- 방법이 없어서 html 태그 사용
                    p #{new Date(data[0].created).toLocaleString('ko-KR')} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by <strong>#{data[0].user_name}</strong>
                    p= data[0].description
                    hr
                .button-container-read
                    a.btn.btn-outline-primary(href=`/update?id=${data[0].writing_id}`) 글 수정
                    | &nbsp;&nbsp;    
                    form(id="deleteForm", action="/delete_process?_method=DELETE", method="post")
                        input(type="hidden", name="id", value=data[0].writing_id)
                        button.btn.btn-outline-primary(type="submit") 글 삭제